spring:
  profiles:
    default: local

  jpa:
    hibernate:
      ddl-auto: none

---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:10000/wanted?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true

jwt:
  secret-key: ABCDEFGHIJKLMNOP
  expired-time:
    access: 10800000
    refresh: 1800000
---
spring:
  config:
    activate:
      on-profile: test

#  datasource:
#    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
#    url: jdbc:tc:mysql:8:///

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:~/fc_tddStudy
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

jwt:
  secret-key: ABCDEFGHIJKLMNOP
  expired-time:
    access: 3600
    refresh: 18000
